quickstart/src/Api/obj
quickstart/src/Api/bin
quickstart/src/IdentityServer/bin
quickstart/src/IdentityServer/obj
quickstart/src/IdentityServer/*.db*
quickstart/src/WebClient/bin
quickstart/src/WebClient/obj
quickstart/src/WebApi/bin
quickstart/src/WebApi/obj
quickstart/src/WebApi/keys